<div class="card ">
    <div class="img-background">
    @if(productItem.stock > 0){
    <span class="badge status-badge-green">In stock</span>
    }@else{
    <span class="badge status-badge-red">Out of stock</span>
    }
    <img [src]="productItem.images" class="card-img-top product-img " alt="Product Image">
</div>
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-2" style="font-weight: bold;">
            <p class="card-title mb-0">{{productItem.title}}</p>
            <span class="price">{{productItem.price | currency:'EGP':'code' }}</span>
        </div>
        <p class="card-text" style="color:#044A0A;">{{productItem.description}}</p>
        <p>
            <span [innerHTML]="productItem.rating | stars"></span>
            {{ productItem.rating }}
        </p>
        <button type="button" class="btn AddToCart-btn">Add to Cart</button>
    </div>
</div>