<h2>Templete Driven Form</h2>
<form #recipeForm="ngForm" (ngSubmit)="handleSubmit(recipeForm)">
    <div class="mb-3">
        <label for="name" class="form-label">Recipe name</label>
        <input 
            type="text" 
            class="form-control" 
            id="name" 
            aria-describedby="nameHelp" 
            name="recipeName" 
            ngModel
            required
            minlength="2"
            #recipeName ="ngModel">

        @if(recipeName.invalid && (recipeName.touched || recipeForm.submitted)){
         @if(recipeName.errors && recipeName.errors['required']){
            <div id="nameHelp" class="form-text text-danger">Recipe name is required</div>
        }@else if(recipeName.errors && recipeName.errors['minlength']){
            <div id="nameHelp" class="form-text text-danger">Recipe name should be at least 3 chars</div>
        }}
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea 
            class="form-control" 
            id="description" 
            rows="5" 
            name="description" 
            ngModel 
            required
            minlength="3"
            maxlength="50"
            #description ="ngModel"
            ></textarea>
        @if(description.invalid && (description.touched ||recipeForm.submitted)){
         @if(description.hasError('required')){
            <div id="nameHelp" class="form-text text-danger">Description is required</div>
        }@else if(description.hasError('minlength')){
            <div id="nameHelp" class="form-text text-danger">Description should be at least 3 chars</div>
        }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>