<nav class="navbar navbar-expand-lg" style="background-color: #022c06;">
  <div class="container-fluid">
    <!-- Left: Brand -->
    <a class="navbar-brand text-white" href="#">RealEstate</a>

    <!-- Toggler for mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Center + Right -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Center: Nav Links -->
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" style="color: rgb(196, 197, 198);" href="#">Ranking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: rgb(196, 197, 198);" href="#">WatchList</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: rgb(196, 197, 198);" href="#">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: rgb(196, 197, 198);" href="#">Tools</a>
        </li>
      </ul>

      <!-- Right: Login + Get Started -->
      <div class="d-flex align-items-center">
        <a href="#" class="nav-link me-3" style="color: aliceblue;">Log in</a>
        <button class="btn" style="background-color: #b2dbb4; color: black; font-weight: 500; border-radius: 10px;">
          Get Started
        </button>
      </div>
    </div>
  </div>
</nav>
