<br>
<br>
<h1 style="text-align: center; margin-bottom: 25px; margin-top: 25px;">Skills</h1>
<h4>Node.js</h4>
<div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar" style="width: 50%; background-color: oklch(0.55 0.15 250);">40%</div>
</div>
<br>
<h4>C++</h4>
<div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar" style="width: 80%; background-color: oklch(0.55 0.15 250);">80%</div>
</div>
<br>
<h4>Manual Testing</h4>
<div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar" style="width: 70%; background-color: oklch(0.55 0.15 250);">70%</div>
</div>
<br>
<h4>Api Testing</h4>
<div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar" style="width: 80%; background-color: oklch(0.55 0.15 250);">80%</div>
</div>

