<br>
<h1 style="text-align: center; margin-bottom: 25px; margin-top: 50px;">Projects</h1>
<div class="card" style="width: 18rem;">
  <img src="Top 25 Social Media Platforms with Over 100 Million Active Users.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Mini-Social</h5>
    <p class="card-text">MiniSocial is a lightweight social networking application designed to enhance user interactions in a collaborative environment.
It allows users to:

Register and manage profiles
Connect with friends
Create and engage with posts
Participate in groups
Receive real-time notifications
</p>
    <a href="https://github.com/MalakkSherif/Mini-Social.git" class="btn" style="background-color:oklch(0.55 0.15 250); color:aliceblue">GitHub</a>
  </div>
</div>
