<h2>Directives</h2>


<ul>
    @for(user of users; track $index){
        <li>{{user}}</li>
    }
</ul>


<div class="row g-3">
    @for(student of students; track student.id){
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" [ngClass]="student.age > 20 ? 'active' : 'unactive'">{{student.name}}</h5>
        <p class="card-text" [ngStyle]="{color:student.age > 20 ? 'black' : 'pink' }">{{student.age}}</p>
        @if(student.isAdmin){
        <button class="btn btn-danger">Delete</button>
        }@else{
            <p>You don't have permission</p>
        }
      </div>
    </div>
  </div>
}@empty{
    <p>No users</p>
}
</div>

